<nav>
  <ul>
    <li>
      <a routerLink="/wish-lists" routerLinkActive="active" (click)="setTitle('Home')">Home</a>
    </li>
    <li *ngIf="!isLoggedIn()">
      <a routerLink="/login" routerLinkActive="active" (click)="setTitle('Login')">Login</a>
    </li>
    <li *ngIf="isLoggedIn()">
      <a [routerLink]="['/users', getUserId()]" routerLinkActive="active" (click)="setTitle('Profile')">Profile</a>
    </li>
    <li *ngIf="isLoggedIn()">
      <a routerLink="/dashboard" routerLinkActive="active" (click)="setTitle('Dashboard')">Dashboard</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
