$text-color: #333;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.45;
  padding: 0;
  margin: 0;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  font-size: 200%;
}

label {
  margin: 0 0 4px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #000;
  box-shadow: none;
  padding: 5px;
  display: block;
  width: 100%;
  margin: 0 0 15px;
  font-size: inherit;
  font-family: inherit;
  color: $text-color;
}

button {
  padding: 5px;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  color: $text-color;
}

a.active {
  color: #ccc;
  text-decoration: none;
}
